body {
    margin:0;
    padding:0;
}
#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    z-index: 0;
}

/* Geocoder css */
.geocoder {
    position:absolute;
    z-index:1;
    width:50%;
    left:50%;
    margin-left:-25%;
    top:100px;
}
.mapboxgl-ctrl-geocoder {
    min-width:100%;
}

/* Overlay */
.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
}

.overlay button {
    font:600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.overlay button:hover {
    background-color:#4ea0da;
}


/* Main Components */
#header {
    z-index: 1;
    background-color: #fff;
    position: absolute;
    width: 100%;
}
#sidenav {
    z-index: 1;
    background-color: #fff;
    height: 100%;
    position: fixed;
    top: 80px;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
}
